<p>
  add-user works!
</p>

<form (submit)="onSubmit()" #formValidated>
	<div class="group">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" required [(ngModel)]="user1.name" />
	</div>

	<div class="group">
		<label for="phone">phone</label>
		<input type="text" name="phone" id="phone" required [(ngModel)]="user1.phone" />
	</div>


	<div class="group">
		<label for="birthday">Birthday</label>
		<input type="date" name="birthday" id="birthday" required [(ngModel)]="user1.birthday" />
	</div>


	<button > SUBMIT </button>
</form>

<br />
{{ user1.name }} | {{ user1.phone }} | {{ user1.birthday }}
<br /><br />